footer.footer 
 .footer__logo 
  img(src="/img/logo-green.png", alt="natours logo")
 ul.footer__nav
  li: a(href="#") About us
  li: a(href="#") Download apps
  li: a(href="#") contact
  li: a(href="#") APIs
 p.footer__copyright &copy; By siva
